---
import goods from "../data/goods.json";
console.log(goods);
---

<ul class="card">
  {goods.map((list) =>
     <li class="card__all"><a href=`/02_ecsite/goods/${list.url}`>

<div class="card__mask">
     <img class="card__image" src=`/02_ecsite/images/${list.itemphotos[0]}` />
     <p class="card__price">価格：{list.price}円</p>
     {list.state === false &&( <p  class="card__state">うりきれ</p>) }
     {list.state === true &&( <p  class="card__state">発売中</p>) }
</div>
     <p class="card__title">{list.name}</p>
     <p class="card__text">{list.text}</p>




    </a>

    </li>
  )}
</ul>
